blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
click==8.1.7
colorama==0.4.6
dearpygui==1.11.1
Eel==0.17.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pyparsing==3.1.2
setuptools==72.2.0
SQLAlchemy==2.0.32
typing_extensions==4.12.2
Werkzeug==3.0.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==7.0.1
