@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", serif;
    transition: .1s;
}

:root {
    --online-color: #58a4b0;

    /* Dark variant */
    --empty-color: #000;
    --bg-color: #161311;
    --bg1-color: #363232;
    --fg-color: #eeeeee;
    --border-color: white;
    --top-bar-color: #58a4b0;
    --top-bar-hover-color: #13616d;

    /* Dark Theme example */
    --theme-chat-bg-color: linear-gradient(90deg, #ff7e5f, #feb47b);
    --theme-chat-title-color: #06926d;
    --theme-chat-left-color: #1B9AAA;
    --theme-chat-right-color: #216869;
    --theme-icon-color: var(--fg-color);
    --theme-icon-bg-color: var(--bg1-color);
}

.light-mode {
    /* White variant */
    --empty-color: #fffafa;
    --bg-color: #fdf5cf;
    --bg1-color: #fdd0c0;
    --fg-color: #2f2020;
    --border-color: green;
    --top-bar-color: #8fc0a9;
    --top-bar-hover-color: #59af87;

    /* White Theme example */
    --theme-chat-bg-color: linear-gradient(70deg, #fceade, #b3e9c7);
    --theme-chat-title-color: #fe5f55;
    --theme-chat-left-color: #70c1b3;
    --theme-chat-right-color: #f3ffbd;
    --theme-icon-color: var(--fg-color);
    --theme-icon-bg-color: var(--bg1-color);
}

body {
    color: var(--fg-color);
    overflow-x: hidden;
    background: var(--empty-color);
}

/* Left side bar */
.sidebar {
    user-select: none;
    background: var(--bg-color);
    position: fixed;
    width: 24rem;
    padding: 1rem;
    height: calc(100vh - 2rem);
}

/* Profile settings and search */
.top {
    background: var(--top-bar-color);
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem;
}

/* Profile settings */
.profile-settings {
    border-radius: 1rem;
    padding: .4rem .5rem;
    margin-bottom: .5rem;
    display: flex;
    height: fit-content;
    cursor: pointer;
}

.profile-settings:hover {
    background: var(--top-bar-hover-color);
}

.profile-settings .profile {
    height: 100%;
    position: relative;
}

.profile-settings .profile img {
    border: 1px solid var(--border-color);
    width:  3rem;
    height: 3rem;
    display: block;
    border-radius: 100rem;
}

.profile-settings .info {
    width: 100%;
    margin-left: .5rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.profile-settings .right {
    padding: .5rem;
}

.profile-settings .right i {
    background: #3C7780;
    aspect-ratio: 1/1;
    text-align: center;
    box-shadow: 0 .25rem .5rem 0 #00000044;
    height: 1.4rem;
    padding: .42rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.profile-settings .right i:hover {
    background: #226680;
}

.profile-settings .status {
    display: flex;
    font-size: .8rem;
}

/* Search bar */
.sidebar .search {
    background: var(--bg1-color);
    color: var(--fg-color);
    padding: .5rem 1rem .5rem .75rem;
    display: flex;
    border-radius: 24rem;
}

.sidebar .search input {
    margin-left: .5rem;
    width: 100%;
    background: transparent;
    color: var(--fg-color);
    border: none;
    outline: none;
}

/* sidebar contact-list */
.contact-list {
    margin-top: 1rem;
    user-select: none;
    overflow-y: auto;
    height: calc(100% - 9rem);
}

/* sidebar contact-list items */
.contact-info {
    border-radius: 1rem;
    cursor: pointer;
    padding: .4rem .5rem;
    margin-bottom: .5rem;
    display: flex;
    height: fit-content;
}

.contact-info.selected {
    background: var(--bg1-color);
}

.contact-info:hover {
    background: var(--bg1-color);
}

/* contact item name */
.contact-info .info {
    margin-left: .5rem;
    font-size: 1.3rem;
}

/* contact item profile */
.contact-info .profile {
    height: 100%;
    position: relative;
}

.contact-info .profile img {
    border: 1px solid var(--border-color);
    width:  3rem;
    height: 3rem;
    display: block;
    border-radius: 100rem;
}

.contact-info.online .profile::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--online-color);
    border-radius: 50%;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
}

/* contact item last seen message */
.contact-info .last-message {
    display: flex;
    margin-right: 1rem;
    font-size: .8rem;
}

.contact-info .last-message .time {
    background: var(--online-color);
    padding: 0 .5rem;
    margin-left: .5rem;
    font-size: .75rem;
    display: block;
    border-radius: 1rem;
}

/* right side window */
.mainchat {
    margin-left: calc(24rem + 2rem);
    position: relative;
    width: calc(100% - 24rem - 2rem);
    display: none;
    height: calc(100vh);
    /* margin-bottom: 23rem; */
}

/* main chat window */
.mainchat .chat-window {
    padding: 1rem;
    background: var(--theme-chat-bg-color);
    background-color: #F8FFE5;
    height: calc(100vh - 9rem);
    overflow-y: auto;
    padding-top: 5rem;
}

/* Chat bubbles */
.mainchat .chat-window .chat-text {
    width: max-content;
    box-shadow: 0 4px 8px 0 #00000044, 0 6px 20px 0 #00000033;
    max-width: 75%;
    padding: .5rem 1rem;
}

.mainchat .chat-window .chat-left {
    background: var(--theme-chat-left-color);
    border-radius: 1.5rem 1.5rem 1.5rem 0;
    margin-bottom: .5rem;
}

.mainchat .chat-window .chat-right {
    background: var(--theme-chat-right-color);
    border-radius: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: .5rem;
    margin: 0 0 .5rem auto;
}

/* Main chat window title */
.mainchat .chat-title {
    background: var(--theme-chat-title-color);
    display: flex;
    position: fixed;
    padding: .4rem 1rem;
    width: 100%;
}

/* Main chat window title profile picture */
.mainchat .chat-title img {
    border: 1px solid var(--border-color);
    border-radius: 100rem;
    display: block;
    width:  3rem;
    height: 3rem;
}

.mainchat .chat-title .title {
    font-size: 1.2rem;
    margin-left: .5rem;
}

.mainchat .chat-title .title .last-active {
    font-size: .8rem;
}

.mainchat .chat-title.online .profile {
    position: relative;
}

.mainchat .chat-title.online .profile::before {
    content: '';
    background-color: var(--online-color);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
}

/* Main chat window write chat box */
.mainchat .chat-write {
    background-color: var(--theme-chat-title-color);
    position: fixed;
    height: max-content;
    display: flex;
    bottom: 0;
    right: 0;
    width: calc(100% - 4rem - 24rem);
    padding: .5rem 1rem;
}

.mainchat .chat-write .write-message {
    background: var(--theme-icon-bg-color);
    color: var(--theme-icon-color);
    border: none;
    border-radius: 100rem;
    color: var(--fg-color);
    outline: none;
    padding: .5rem 1rem;
    width: 100%;
    margin-left: .75rem;
    margin-right: .75rem;
}

.mainchat .chat-write i {
    background: var(--theme-icon-bg-color);
    color: var(--theme-icon-color);
    cursor: pointer;
    border-radius: 100rem;
    text-align: center;
    width: 1.2rem;
    height: 1rem;
    padding: .75rem;
    margin-right: .5rem;
}

.mainchat .chat-write i:hover {
    background: red;
}

/* Our User add search box */
.user-search-container {
    background: var(--bg-color);
    width: 40%;
    left: 50%;
    position: fixed;
    display: none;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    border: .2rem solid var(--top-bar-color);
}

/* User search close */
#user-search-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    border-radius: 50%;
    padding: .5rem;
    aspect-ratio: 1/1;
    width: 1rem;
    text-align:center;
    background-color: #fa2222;
    cursor: pointer;
    border: .2rem solid var(--top-bar-color);
}

#user-search-close:hover {
    background-color: #bb0000;
}

/* Search Box */
.user-search-box-container {
    display: flex;
    padding: 0 1rem;
    background-color: var(--bg1-color);
    margin: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.user-search-box-container i {
    padding: 1rem .25rem;
}

#user-search-box {
    width: 100%;
    padding: .75rem .5rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    background: transparent;
    color: var(--fg-color);
    outline: none;
    transition: background-color 0.3s ease;
}

#user-search-box:focus {
    background-color: var(--bg1-color);
}

/* Results */
.user-search-results {
    max-height: 300px;
    height: min(60vh, fit-content);
    overflow-y: auto;
    padding: 0 1rem 1rem;
    transition: opacity 0.3s ease;
}

.result-item {
    padding: .75rem 1rem;
    cursor: pointer;
    font-size: 16px;
    color: #e0e0e0;
    display: flex;
    border-radius: 1rem;
    transition: background-color 0.2s ease;
}

.result-item img {
    height: 3rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.result-item .description {
    margin-left: .75rem;
}

.result-item:hover {
    background-color: #39404a;
}

.result-item:last-child {
    border-bottom: none;
}

/* Add smooth fading for the result items */
.result-item {
    opacity: 0;
    animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Fuckin Chrome, Edge and Safari render slide bar so bad so workaround */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #888888;
  border: 1px solid #b8c0c2;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2776ff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2776ff;
}
