<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- Our Sidebar window -->
        <div class="sidebar">
            <div class="top">
                <!-- Our Main profile for settings -->
                <div class="profile-settings" id="my-profile">
                    <!-- profile settings example -->
                    <!-- <div class="profile"> -->
                    <!--     <img src="profile.jpg" alt="profile"> -->
                    <!-- </div> -->
                    <!-- <div class="info"> -->
                    <!--     <div class="name">Kouosi Tsuamine</div> -->
                    <!--     <div class="status">Busy</div> -->
                    <!-- </div> -->
                </div>

                <!-- Our Search bar -->
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="search" autofocus placeholder="Search Users...">
                    <!--TODO: Implement -->
                </div>
            </div>

            <!-- Our Contact List -->
            <div class="contact-list" id="contact-list">
                <!-- contact-info example -->
                <!-- <div class="contact-info selected online"> -->
                <!--     <div class="profile"><img src="profile.png" alt="profile"></div> -->
                <!--     <div class="info"> -->
                <!--         <div class="name">Kouosi Tsuamine</div> -->
                <!--         <div class="last-message"> -->
                <!--             <div class="text">last message</div> -->
                <!--             <div class="time">13h</div> -->
                <!--         </div> -->
                <!--     </div> -->
                <!-- </div> -->
                <div class="contact-info">
                    <div class="info" style="margin-left:2rem;">
                        <div class="name" style="font-size:2rem;text-align:center">No Messages
                            <div class="name" style="font-size:1.3rem;text-align:center">New messages will appear here.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Main Chat window -->
        <div class="mainchat" style="display:flex;justify-content:center;align-items:center;">
            <span style="user-select:none;user-drag:none;display:flex;flex-flow:column;height:fit-content;align-items:center;font-size:2rem;">
                <img src="/static/assets/hina.png" draggable="false" style="max-width:40%;" alt="What?">
                <div style="text-align:center;">No Messages Selected</div>
            </span>
        </div>
        <div class="mainchat" id="mainchat-window">
            <!-- Chat window title -->
            <div class="chat-title online" id="chat-title"></div>
            <!-- Example chat Title -->
            <!-- <div class="chat-title online" id="chat-title"> -->
            <!--     <div class="profile"><img src="username.jpg" alt="profile"></div> -->
            <!--     <div class="title">User name -->
            <!--         <div class="last-active">active time</div> -->
            <!--     </div> -->
            <!-- </div> -->

            <!-- Chat bubble window-->
            <div class="chat-window" id="chat-content"></div>
            <!-- Example bubble window-->
            <!-- <div class="chat-window" id="chat-content"> -->
            <!-- text bubble example -->
            <!-- <div class="chat-text chat-left">I am sender</div> -->
            <!-- <div class="chat-text chat-right">I am receiver</div> -->
            <!-- </div> -->

            <!-- Chat write box -->
            <div class="chat-write">
                <input class="write-message" type="text" placeholder="Write message here.">
                <i class="fa fa-file"></i>
                <i class="fa fa-image"></i>
                <i class="fa fa-thumbs-up"></i>
            </div>
        </div>
    </div>

    <div class="user-search-container">
        <div class="fa-solid fa-x" id="user-search-close"></div>
        <div class="user-search-box-container">
            <i class="fa-solid fa-search"></i>
            <input type="text" id="user-search-box" placeholder="Search...">
        </div>
        <div class="user-search-results" id="user-search-results">
            <!-- <div class="result-item"> -->
            <!--     <img class="profile" src="profile.png"> -->
            <!--     <div class="description"> -->
            <!--         <div class="name">Name</div> -->
            <!--         <div class="about">About</div> -->
            <!--     </div> -->
            <!-- </div> -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>
